################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADB-Project/v14/.suo
/Keyword/__pycache__/keyword_utilities.cpython-35.pyc
/ADB-Project.pyproj
/ADB-Project.sln
